*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  font-style: normal;
  color: $dove-gray;
  background-color: $bg-white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 250px;
}
