.accordion__btn {
  display: none;
}

@media (max-width: $mobile-width) {
  .accordion {
    overflow-anchor: none;
  }

  .accordion__wrapper {
    display: block;
    margin-left: -5.2%;
    width: 100vw;
    cursor: pointer;
  }

  .accordion__container {
    position: relative;
    width: 100%;
    padding: 0 4%;
    margin-left: 0;
    min-width: 320px;

    &::before {
      content: "";
      position: absolute;
      right: 5.2%;
      top: 27px;
      width: 16px;
      height: 16px;
      background-image: url("../img/plus.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .accordion .accordion__hidden {
    display: none;
  }

  .accordion--opened .accordion__hidden {
    display: block;
  }

  .accordion--opened .accordion__container::before {
    background-image: url("../img/minus.svg");
  }
}
