.advantage {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 1100px;
    top: -70px;
    right: -25%;
    background-image: url("../img/triangle-page.svg");
    background-repeat: no-repeat;
    background-position: -21px 0;
  }
}

.advantage__list {
  @include same-list;
  display: flex;
  flex-wrap: wrap;
}

.advantage__item {
  position: relative;
  width: 48.7%;
  min-height: 299px;
  padding: 18px 3.7%;
  padding-top: 96px;
  margin-right: 2.5%;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease;
  background-color: $bg-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $dodger-blue;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    color: $bg-white;
    background-color: $dodger-blue;
  }
}

.advantage__item svg {
  position: absolute;
  top: 40px;
  fill: $dodger-blue;
}

.advantage__item h3 {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $dodger-blue;
  line-height: 33.75px;
}

.advantage__item:hover h3 {
  transition: all 0.3s ease;
  color: $bg-white;
}

.advantage__item:hover svg {
  transition: all 0.3s ease;
  fill: $bg-white;
}

.advantage__item p {
  margin: 0;
}

@media (max-width: $tablet-width) {
  .advantage::before {
    width: 50%;
    height: 700px;
    top: 100px;
    right: 0;
    background-image: url("../img/triangle-page-lap.svg");
    background-position: -125px 93px;
  }

  .advantage__item {
    width: 47.9%;
    min-height: 232px;
    margin-right: 4.2%;
    margin-bottom: 28px;
    padding: 26px 2.9%;
    padding-left: 3.6%;
    padding-top: 66px;
  }

  .advantage__item h3 {
    margin-bottom: 11px;
  }

  .advantage__item svg {
    top: 21px;
  }
}

@media (max-width: $mobile-width) {
  .advantage {
    padding-left: 4.4%;

    &::before {
      width: 50%;
      height: 700px;
      top: 650px;
      right: 0;
      background-image: url("../../img/triangle-page-lap.svg");
      background-position: -240px 123px;
    }
  }

  .advantage__list {
    flex-direction: column;
  }

  .advantage__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 18px 5.3%;
    padding-left: 8.3%;
    padding-top: 72px;
  }

  .advantage__item h3 {
    font-size: 20px;
    line-height: 28.13px;
  }

  .advantage__item--timing,
  .advantage__item--supplier {
    min-height: 310px;
  }

  .advantage__item--price {
    min-height: 244px;
    padding-top: 68px;
  }

  .advantage__item--supplier {
    padding-right: 4.6%;
    padding-top: 68px;
  }

  .advantage__item--confidentiality {
    padding-top: 62px;
  }

  .advantage__item--confidentiality h3,
  .advantage__item--price h3 {
    margin-bottom: 18px;
  }
}
