.button {
  display: inline-block;
  padding: 11px 28px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: $bg-white;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $bg-white;
  border-radius: 5px;
}
