.copyright {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  padding: 15px 0;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    left: 50%;
    margin-left: -50vw;
    top: 0;
    background-color: rgba(98, 105, 98, 0.2);
  }
}

.copyright p {
  margin: 0;
  min-width: 5%;
  margin-right: 5.4%;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.4px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}

.copyright p:nth-child(2) {
  min-width: 21.2%;
}

.copyright p:nth-child(3) {
  min-width: 38.5%;

  @media (max-width: 1493px) {
    min-width: 29%;
  }

  @media (max-width: 1330px) {
    min-width: 22%;
  }
}

.copyright p:nth-child(4) {
  margin-left: auto;
  padding-right: 0.3%;
}

@media (max-width: $tablet-width) {
  .copyright {
    justify-content: space-between;
    padding: 23px 0;
  }

  .copyright p {
    min-width: 50%;
    margin: 0;

    &:nth-child(2n) {
      text-align: right;
    }
  }

  .copyright p:nth-child(1) ,
  .copyright p:nth-child(2)  {
    display: none;
  }

  .copyright p:nth-child(3) {
    min-width: 50%;
    padding-left: 4px;
  }

  .copyright p:nth-child(4) {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    display: block;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .copyright p {
    padding: 0;
    margin-bottom: 20px;
    text-align: center;

    &:nth-child(2n) {
      text-align: center;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 20px;
    }
  }
}
