.page-header {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.page-header__container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header__btn {
  margin-left: 3.43%;
  margin-right: 0.2%;
  transition: all 0.3s ease;

  &:hover {
    color: $dodger-blue;
    border-color: $dodger-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .page-header__container {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .page-header__btn {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header__container {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
