.site-sections {
  width: 552px;

  @media (max-width: 1328px) {
    width: 250px;
  }
}

.site-sections__list {
  @include same-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-sections__item {
  min-width: 243px;
  max-width: 300px;
}

.site-sections__item a {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 25px;
  color: rgba(27, 45, 55, 0.5);
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: $dodger-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.site-sections h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

@media (max-width: $tablet-width) {
  .site-sections {
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .site-sections {
    width: 100%;
  }

  .page-footer__site-sections {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      left: 50%;
      margin-left: -50vw;
      bottom: 0;
      background-color: rgba(98, 105, 98, 0.2);
    }
  }

  .site-sections__list {
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .site-sections h3 {
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 27px;
  }
}
